<h1>Formulario único</h1>

<form>
  <section>
      <div class="card">
          <div class="card-header">
            Información General
          </div>
          <div class="card-body">
            <app-general-information></app-general-information>
          </div>
        </div>
  </section>
  <section>
      <div class="card">
          <div class="card-header">
            Denunciante(s)
          </div>
          <div class="card-body">
            <app-whistleblower></app-whistleblower>
          </div>
        </div>
  </section>
  <section>
    <div class="card">
      <div class="card-header">
        Víctima(s)
      </div>
      <div class="card-body">
        <app-victim></app-victim>
      </div>
    </div>
  </section>
  <section>
      <div class="card">
        <div class="card-header">
          Denunciados/as
        </div>
        <div class="card-body">
          <app-denounced></app-denounced>
        </div>
      </div>
    </section>

</form>
