<div class="sidebar-header">
    <h3>SINARAP</h3>
    <strong>SIN</strong>
</div>

<ul class="list-unstyled components">
    <li class="active">
        <a [routerLink]="['/']">
            <fa-icon [icon]="faHome"></fa-icon>
            Inicio
        </a>
    </li>
    <li>
        <a [routerLink]="['/uniqueform']">
            <fa-icon [icon]="faFileAlt"></fa-icon>
            Formulario único
        </a>
    </li>
    <li>
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <fa-icon [icon]="faTools"></fa-icon>
            Administración
        </a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
            <li>
                <a [routerLink]="['/']">Usuario</a>
            </li>
            <li>
                <a [routerLink]="['/']">Admin 1</a>
            </li>
            <li>
                <a [routerLink]="['/']">Admin 2</a>
            </li>
        </ul>
    </li>
</ul>